body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: lightblue;
}

.container {
	position: absolute;
	top: -250px;
	width: 2000px;
	height: 100px;	
	margin: 240px auto;
	background: darkblue;
}
.container .box .name{

	position: relative;
	top: -13px;
	float: left;
	right: -10px;
	
	font-family: cursive;
	font-size: 40px;
}

.container .box .name a{

	
	color: white;
	text-decoration: none;
}

.container .box .name a:hover{

	
	color: lightblue;
	
}

.container .box .about {
	position: relative;
	top: 25px;
	float: left;
	right: -50px;
	color: white;
	font-family: cursive;
	font-size: 20px;
	
}

.container .box .about a{
	color: white;
	text-decoration: none;
}

.container .box .about a:hover{
	color: lightblue;
}

.content{
	position: relative;
	top: 100px;
	left: 10px;
	background-color: white; 
}

.container .box .icon img{
	position: relative;
	float: right;
	right: 100px;
	top: 15px;
}